// Colors

$color-white       : #fff;
$color-primary     : #C12026;
$color-secondary   : #02DEDF;
$color-text        : #050D42;
$color-gray-light  : #f6f6f9;
$color-gray-medium : #ececee;
$color-gray-dark   : #ccced0;
$color-red         : #e52b20;
$color-green       : #63ce63;
$color-orange      : #ffbf2f;

// Fonts

$font-sans  : "Lato", Helvetica, sans-serif;
$font-serif  : "PT Serif", Georgia, serif;

// Weights

$font-light   : 300;
$font-regular : 400;
$font-bold    : 700;
$font-black   : 900;

// Maximum widths

$max-width-s : 400px;
$max-width-m : 800px;
$max-width-l : 1200px;

// Opacity

$opacity-s : 0.9;
$opacity-m : 0.4;
$opacity-l : 0.1;

// Spacing betwenn elements

$space : 1rem;

// Darken and lighten colors

$darken  : 7%;
$lighten : 7%;