@import "base.css";

.main-heading {
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}

.grid-item {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 60px;
}

.pokeball {
    border-radius: 50px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    font-size: large;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(88, 88, 90, 1) 35%, rgba(88, 88, 90, 1) 47%, rgba(238, 64, 53, 1) 48%);
}

.pokeball img {
    position: relative;
    width: 200px;
    height: 200px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 50%;
}

.pokemon-link {
    text-decoration: none;
    color: white;
}

.pokemon-link:hover {
    text-decoration: underline;
}

.pokeball-content {
    position: relative;
    width: 80%;
    left: 25%;
}