/* -----------------------------------------------------------------------------

Table Of Contents

1.0 - Base
  1.1 - Reset
  1.2 - Typography
  1.3 - Grid

2.0 - Tools
  2.1 - Align
  2.2 - Background
  2.3 - Divider
  2.4 - Full Screen
  2.5 - Full Width
  2.6 - Max Width
  2.7 - Min Width
  2.8 - Opacity
  2.9 - Rounded
  2.10 - Shadow
  2.11 - Spacing

3.0 - Components
  3.1 - Alerts
  3.2 - Buttons
  3.3 - Card
  3.4 - Footer
  3.5 - Forms
  3.6 - Header
  3.7 - Icons
  3.8 - List
  3.9 - Logo
  3.10 - Pricing
  3.11 - Table
  3.12 - Timeline

4.0 - Pages
  4.1 - Onboarding

----------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Base

@import "base/variables";
@import "base/mixins";
@import "base/reset";
@import "base/typography";
@import "base/grid";
@import "base/banner";

// Tools

@import "tools/align";
@import "tools/background";
@import "tools/divider";
@import "tools/full-screen";
@import "tools/full-width";
@import "tools/max-width";
@import "tools/min-width";
@import "tools/opacity";
@import "tools/rounded";
@import "tools/shadow";
@import "tools/spacing";

// Components

@import "components/alerts";
@import "components/buttons";
@import "components/card";
@import "components/footer";
@import "components/forms";
@import "components/header";
@import "components/icons";
@import "components/list";
@import "components/logo";
@import "components/pricing";
@import "components/table";
@import "components/timeline";

// Pages

@import "pages/onboarding";

.detailimg{
  position:absolute;
  z-index: 2;
  top: 58%;
  max-width: 300px;
  width: auto;
  height: 166px;
}